
/*------------------------------------------------------200pxcss480px-------*/
@media only screen and (min-width:200px) and (max-width:480px){

    .logo{
      position: absolute;
      width: 70%; height: auto;
      top: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    }
    .main_text{font-size: 115%;white-space: nowrap;margin-bottom: 20px;}
    .btn_CTA:link,.btn_CTA:visited{margin: 0 0 0 0; font-size:80%; }
    .btn_info:link,.btn_info:visited{display: none;}
    /*^^^^^^^^^^^^^^^^^^^HEADER^^^^^^^^^^^^^^^^^^^^^^^^*/
    h2{font-size: 100%; white-space: nowrap;}
    h3{font-size: 70%;}
    .long-copy{width: 80%;margin-left: 10%;}
    .section-features{padding: 40px 0;}
    .section-steel{padding: 40px 0;}
    .section-contact{padding: 40px 0;}
    .box p{margin: auto 5%;font-size: 75%;margin: -20px auto 20px auto;}
    /*^^^^^^^^^^^^^^^^^^^SECTIONS^^vvvFOOTERvvv^^^^^^^^*/
    .contact_text{font-size: 80%;text-align: center;}
    .contact_text:after {
        display: block;
        height: 1px;
        background-color: #e67e22;
        content: " ";
        width: 70px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .map{display: none;}
    .footer_text{font-size: 60%;text-align: center;}
}

/*-------------------------------------------------------480px>-css-<548px---*/
@media only screen and (min-width:480px) and (max-width:548px){
    .box p{margin: auto 5%;font-size: 75%;}
    .stell_header{font-size: 150%; white-space: nowrap;}
    h3{font-size: 80%;}
    h1{font-size: 180%;}
    .logo{
      position: absolute;
      top: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    }

    .map{display: none;}
}

/*-------------------------------------------------------548>-css-<888---*/
@media only screen and (min-width:548px) and (max-width:888px){
    .box p{margin: auto 5%;font-size: 75%;}
    .stell_header{font-size: 150%; white-space: nowrap;}
    h3{font-size: 80%;}
    .logo{height: 85px;width: auto;float: left;margin-top: 10px;}
    .box p{margin: auto 5%;font-size: 85%;}
    h3{font-size: 80%;}
    h1{font-size: 180%;}
    .logo{
      position: absolute;
      top: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    }
}

/*---------------------------------------------------------css889----*/
@media (max-width:889px){
  .box p{margin: auto 5%;text-align: center;}
  .nav_bar{background: none;}
  .main-nav{display: none;}
}
