/*
Orange color: #e67e22
background-image: url("../../assets/images/escheresque_ste.png");
background-repeat: repeat;
*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
html,body{
    background-color: #fff;
    color: #444;
    font-size: 19px;
    line-height: 16px;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3 {
      font-weight: 300;
      text-transform: uppercase;
  }

  h1 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #fff;
      font-size: 240%;
      word-spacing: 4px;
      letter-spacing: 1px;
  }
.clearfix {zoom: 1;}
.clearfix:after {
      content: '.';
      clear: both;
      display: block;
      height: 0;
      visibility: hidden;
    }
.wrapper{
    padding-left: 32px;
    padding-right: 32px;
}
    /* ----------------------------------------------- */
    /* REUSABLE COMPONENTS */
    /* ----------------------------------------------- */
    .row {
        max-width: 1140px;
        margin: 0 auto;
    }

    section {
        padding: 80px 0;
    }

    .box {
        padding: 1%;
    }

    /* ----- HEADINGS ----- */
    h1,
    h2,
    h3 {
        font-weight: 300;
        text-transform: uppercase;
        white-space: normal;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 120%;
        word-spacing: 4px;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 100%;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    h3 {
        font-size: 90%;
        margin-bottom: 15px;
        line-height: 24px;
    }

    h2:after {
        display: block;
        height: 2px;
        background-color: #e67e22;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
    }

    /* ----- PARAGRAPHS ----- */
    .long-copy {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
        text-align: center;

    }
    .box p{
        font-size: 90%;
        line-height: 145%;
    }
    .logo{
      height: 85px;
      width: auto;
      float: left;
      margin-top: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scale(.8);
    }
    .nav_bar{
      height: 100px;
      position: relative;
    /* z-index: 1;*/
    }
    .main-nav {
      float: right;
      list-style: none;
      margin-top: 43px;
      }

  .main-nav li {
      display: inline-block;
      margin-left: 40px;
      margin-right: 8px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
      padding: 8px 0;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 90%;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.3s;
      transition: border-bottom 0.3s;
  }

  .main-nav li a:hover,
  .main-nav li a:active {
      border-bottom: 2px solid #e67e22;
  }
  /* ----------------------------------------------- */
  /* HEADER */
  /* --------------------------header{
    background: rgba(0, 0, 0, 0.8);
}--------------------- */

  header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../../assets/images/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../../assets/images/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .hero-text-box {
      position: absolute;
      margin-top: 220px;
      padding: 0 2%;
      /*z-index: 1;*/
      padding-top: 88px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
  }
  /* ----- BUTTONS -----
  padding: 14px 30px;
  border-radius: 100px;*/
  .btn:link,
  .btn:visited,
  input[type=submit] {
      color: white;
      background-color: #0f5f5a;
      display: inline-block;
      font-weight: 300;
      text-decoration: none;
      -webkit-transition: background-color 0.3s, color 0.3s;
      transition: background-color 0.3s, color 0.3s;
      margin-right: 15px;
      margin-top: 15px;
      padding: .75rem 1.2rem;
  }

  .btn:hover,
  .btn:active,
  input[type=submit]:hover,
  input[type=submit]:active {
      background-color: #e67e22;
  }
  .btn_CTA:link,
  .btn_CTA:visited,
  input[type=submit] {
      color: white;
      background-color: #0b413e;
      display: inline-block;
      font-weight: 300;
      text-decoration: none;
      -webkit-transition: background-color 0.3s, color 0.3s;
      transition: background-color 0.3s, color 0.3s;
      margin-right: 15px;
      margin-top: 15px;
      padding: .75rem 1.2rem;
  }

  .btn_CTA:hover,
  .btn_CTA:active,
  input[type=submit]:hover,
  input[type=submit]:active {
      background-color: #e67e22;
  }

  .project {
      border-radius: 70px;
      overflow: hidden;
      width: 140px;
      height: 140px;
      border: 6px solid rgba(222,222,222,.5);
      margin: auto auto 30px auto;
  }
.footer{
  background-color: #0d504c;
  color: #fff;
  padding: .5rem 0;
  text-align: center;
}
.btn_CTA_footer:link,
.btn_CTA_footer:visited,
input[type=submit] {
    color: white;
    background-color: #e67e22;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    margin: 15px 15px 15px 15px;
    padding: .75rem 1.2rem;
}

.btn_CTA_footer:hover,
.btn_CTA_footer:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #12a89c;
}
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.section-steel{
  background-color: #f4f4f4;
}
.text{
  line-height: 25px;
  font-size: 17px;
  margin-bottom: 30px;
}
.section-contact{
  margin-bottom: -30px;
}
#slideshow {
    position: relative;
    width: auto;
    height: 100vh;
    margin-top: -100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
}
.menu_content{
  display: none;
}
.site-header__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
}
/* ----- MEDIA QUERIES -----;*/
@media (min-width:320px){
  .hero-text-box{
    padding: 0 2%;
    padding-top: 50px;
    }
}
  /*Mobile-layout break here------------------------------------------*/@media (min-width:530px){
    .hero-text-box{
      padding: 0 2%;
      }
  }
  /*Tablet*/@media (min-width:890px){
    .hero-text-box{
      padding: 0 10%;
      padding-top: 140px;
    }
    .menu_content{
      display: block;
    }
    .nav_bar{
      background-color: rgba(13,80,76,.5);
      box-shadow: 0 0 20px rgba(0,0,0,0.4);
    }
    .logo{
      left: auto;
      transform: translateX(0);
    }
    .hero-text-box{
      margin-top: 300px;
    }

    h1{
      font-size: 240%;
    }
    h2{
      font-size: 180%;
    }
    h3{
      font-size: 110%;
    }
    .site-header__menu-icon{
      display: none;
    }
  }
  /*Laptop*/@media (min-width:1024px){
    .hero-text-box{

      }
  }
